html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
}

.App {
  background-color: #1D1F21;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Panels */

.MainPanel {
  display: flex;
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
}

.MainPanel div {
  overflow: hidden;
}

.EditorPanel {
  flex: 1;
  flex-direction: column;
  display: flex;
}

.Tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.TabButtons {
  text-align: initial;
  height: 5%;
}

.TabButtons button {
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #1d1f21;
  margin-right: 0.5%;
  font-size: 14px;
  font-family: 'Muli', sans-serif;
}

.TabButtons button:focus {
  outline: none;
}

.notActive {
  background-color: #e8ffff;
  box-shadow: 1px 1px #8bd1cb;
}

.active {
  background-color: #8bd1cb;
  box-shadow: 1px 1px #e8ffff;
}

.TabContents {
  flex: 1;
  display: flex;
  border-bottom-left-radius: 5px;
  border-top: 2px solid #e5ffff;
  border-left: 2px solid #e5ffff;
  border-right: 1px solid #e5ffff;
  border-bottom: 2px solid #e5ffff;
}

.TabContents div {
  flex: 1;
  display: flex;
}

.VisualizerPanel {
  flex: 1;
  flex-direction: column;
  display: flex;
}

.filler {
  height: 23px;
  display: inline-table;
}

.VisualizerPanel .container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.DocumentationPanel {
  text-align: center;
  font-family: 'Muli', sans-serif;
}

.DocumentationPanel h1 {
  color: #8bd1cb;
}

.DocumentationPanel h2 {
  color: #e8ffff;
}

.DocumentationPanel p, code {
  color: white;
}

.DocumentationPanel .Code {
  display: inline-block;
}

.DocumentationPanel code {
  text-align: initial;
}

.DocumentationPanel pre {
  text-align: initial;
}

/* Bars */

.EditorBar {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
}

.EditorBar div {
  flex: 1;
  display: flex;
  align-items: center;
}

.EditorBar div span {
  color: #e5ffff;
}

.EditorBar .TextDiv {
  justify-content: flex-start;
}

.EditorBar .LocationDiv {
  justify-content: flex-end;
}

.header {
  height: 8%;
  max-height: 80px;
  margin-top: 15px;
}

.header img {
  height: 100%;
}

.VisualizerBar {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Select {
  background-color: #e8ffff;
  color: #1d1f21;
  border-radius: 5px;
  font-family: 'Muli', sans-serif;
  margin-right: 1%;
  font-size: 14px;
  box-shadow: 1px 1px #8bd1cb;
}

.Select:focus {
  outline: none;
}

.RunButton {
  background-color: #e8ffff;
  color: #1d1f21;
  border-radius: 5px;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  box-shadow: 1px 1px #8bd1cb;
}

.RunButton:focus {
  outline: none;
}

/* Outsiders */

.Ace {
  flex: 1;
}

.Visualizer {
  flex: 1;
  display: flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 2px solid #e5ffff;
  border-left: 1px solid #e5ffff;
  border-right: 2px solid #e5ffff;
  border-bottom: 2px solid #e5ffff;
}

.Visualizer div {
  flex: 1;
}