.dark {
    background-color: #1f2125;
}

.light {
    background-color: white;
}

.darkText {
    p, label, h2, code, span {
        color: #1f2125;
    }

}

.lightText {
    p, label, h2, code, span {
        color: white;
    }
}

.tutorialActive {
    border: 2px solid red !important;
}