html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
}

.App {
  background-color: #272A2A;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Panels */
.MainPanel {
  display: flex;
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
}

.MainPanel div {
  overflow: hidden;
}

.EditorPanel {
  flex: 1;
  flex-direction: column;
  display: flex;
}

.Tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.TabButtons {
  text-align: initial;
  height: 5%;
}

.TabButtons button {
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #272A2A;
  margin-right: 0.5%;
  font-size: 14px;
  font-family: "Muli", sans-serif;
}

.TabButtons button:focus {
  outline: none;
}

.notActive {
  background-color: #EEF7F8;
  box-shadow: 1px 1px #77BDC7;
}

.active {
  background-color: #77BDC7;
  box-shadow: 1px 1px #EEF7F8;
}

.TabContents {
  flex: 1;
  display: flex;
  border-bottom-left-radius: 5px;
  border-top: 2px solid #EEF7F8;
  border-left: 2px solid #EEF7F8;
  border-right: 1px solid #EEF7F8;
  border-bottom: 2px solid #EEF7F8;
}

.TabContents div {
  flex: 1;
  display: flex;
}

.VisualizerPanel {
  flex: 1;
  flex-direction: column;
  display: flex;
}

.filler {
  height: 23px;
  display: inline-table;
}

.VisualizerPanel .container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.DocumentationPanel {
  text-align: center;
  font-family: "Muli", sans-serif;
}

.DocumentationPanel h1 {
  color: #77BDC7;
}

.DocumentationPanel h2 {
  color: #EEF7F8;
}

.DocumentationPanel p, code {
  color: #EEF7F8;
}

.DocumentationPanel .Code {
  display: inline-block;
}

.DocumentationPanel code {
  text-align: initial;
}

.DocumentationPanel pre {
  text-align: initial;
}

/* Bars */
.HistoryBar {
  padding: 10px;
  height: 10%;
  min-height: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HistoryBar .Step {
  flex-direction: column;
}

.HistoryBar .Step span {
  color: #EEF7F8;
}

.HistoryBar .Step .Function {
  font-size: 12px;
}

.HistoryBar .Step .Operation {
  font-size: 14px;
}

.HistorySteps {
  border-radius: 5px;
  border: 1px solid #77BDC7;
  width: 70%;
}

.HistorySteps .HistoryItem {
  background-color: #EEF7F8;
}

.HistorySteps .Active {
  background-color: #38908A;
}

.HistorySteps .HistoryItem:hover {
  background-color: #77BDC7;
}

.EditorBar {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Muli", sans-serif;
  font-size: 14px;
}

.EditorBar div {
  flex: 1;
  display: flex;
  align-items: center;
}

.EditorBar div span {
  color: #EEF7F8;
}

.EditorBar .TextDiv {
  justify-content: flex-start;
}

.EditorBar .LocationDiv {
  justify-content: flex-end;
}

.header {
  height: 8%;
  max-height: 80px;
  margin-top: 15px;
}

.header img {
  height: 100%;
}

.VisualizerBar {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Select {
  background-color: #EEF7F8;
  color: #272A2A;
  border-radius: 5px;
  font-family: "Muli", sans-serif;
  margin-right: 1%;
  font-size: 14px;
  box-shadow: 1px 1px #77BDC7;
}

.Select:focus {
  outline: none;
}

.RunButton {
  background-color: #EEF7F8;
  color: #272A2A;
  border-radius: 5px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  box-shadow: 1px 1px #77BDC7;
}

.RunButton:focus {
  outline: none;
}

/* Outsiders */
.Ace {
  flex: 1;
}

.Visualizer {
  flex: 1;
  display: flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 2px solid #EEF7F8;
  border-left: 1px solid #EEF7F8;
  border-right: 2px solid #EEF7F8;
  border-bottom: 2px solid #EEF7F8;
}

.Visualizer div {
  flex: 1;
}

/*# sourceMappingURL=App.css.map */
