.App {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }

html, body {
  height: 100%;
  width: 100%; }

body {
  display: flex; }

.dark {
  background-color: #1f2125; }

.light {
  background-color: white; }

.darkText p, .darkText label, .darkText h2, .darkText code, .darkText span {
  color: #1f2125; }

.lightText p, .lightText label, .lightText h2, .lightText code, .lightText span {
  color: white; }

.tutorialActive {
  border: 2px solid red !important; }

.EditorBar {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Muli', sans-serif;
  font-size: 14px; }

.EditorBar div {
  flex: 1;
  display: flex;
  align-items: center; }

.EditorBar .TextDiv {
  justify-content: flex-start; }

.EditorBar .LocationDiv {
  justify-content: flex-end; }

.header {
  height: 8%;
  max-height: 80px;
  margin-top: 15px; }

.header img {
  height: 100%; }

.header > button {
  position: absolute;
  right: 4%;
  top: 4%; }

.VisualizerBar {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center; }

.VisualizerBar > button {
  margin-left: 10px; }

.Ace {
  flex: 1; }

.Visualizer {
  flex: 1;
  display: flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.VisualizerLightBorder {
  border-top: 2px solid #EEF7F8;
  border-left: 1px solid #EEF7F8;
  border-right: 2px solid #EEF7F8;
  border-bottom: 2px solid #EEF7F8; }

.VisualizerDarkBorder {
  border-top: 2px solid #77BDC7;
  border-left: 1px solid #77BDC7;
  border-right: 2px solid #77BDC7;
  border-bottom: 2px solid #77BDC7; }

.Visualizer div {
  flex: 1; }

.DocumentationPanel {
  text-align: center;
  font-family: 'Muli', sans-serif; }

.DocumentationPanel h1 {
  color: #77BDC7; }

.DocumentationPanel .Code {
  display: inline-block; }

.DocumentationPanel code {
  text-align: initial; }

.DocumentationPanel pre {
  text-align: initial; }

.EditorPanel {
  flex: 1;
  flex-direction: column;
  display: flex; }

.MainPanel {
  display: flex;
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden; }

.MainPanel div {
  overflow: hidden; }

.VisualizerPanel {
  flex: 1;
  flex-direction: column;
  display: flex; }

.filler {
  height: 23px;
  display: inline-table; }

.VisualizerPanel .container {
  flex: 1;
  display: flex;
  flex-direction: column; }

.HistoryBar {
  padding: 10px;
  min-height: 50px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.HistoryBar .Step {
  display: flex;
  flex-direction: column; }

.HistoryBar .Step .Function {
  font-size: 14px; }

.HistoryBar .Step .Operation {
  font-size: 16px; }

.InfoPanel {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column; }

.InfoPanel > div {
  flex: 1;
  max-height: 100%; }

.RuntimePanel {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.Tabs {
  flex: 1;
  display: flex;
  flex-direction: column; }

.TabButtons {
  text-align: initial;
  height: 5%; }

.TabButtons button {
  height: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0.5%;
  font-size: 14px; }

.TabContents {
  flex: 1;
  display: flex;
  border-bottom-left-radius: 5px; }

.TabContentsLightBorder {
  border-top: 2px solid #EEF7F8;
  border-left: 2px solid #EEF7F8;
  border-right: 1px solid #EEF7F8;
  border-bottom: 2px solid #EEF7F8; }

.TabContentsDarkBorder {
  border-top: 2px solid #77BDC7;
  border-left: 2px solid #77BDC7;
  border-right: 1px solid #77BDC7;
  border-bottom: 2px solid #77BDC7; }

.TabContents > div {
  flex: 1;
  display: flex; }

.TabContents > div > div {
  flex: 1; }

/*# sourceMappingURL=index.css.map */
